*
{
   font-weight: 300;
}

body
{
   font: 300 14px/1.3 Arial;
   letter-spacing: 0.5px;
   margin: 0 auto;
   max-width: 970px;
   padding: 0 10px;
}

ul,
ol
{
   list-style-position: inside;
   padding-left: 0;
}

li
{
   margin-bottom: 5px;
}

canvas
{
   background: #222 url(/images/four-loader.gif) no-repeat;
   background-position: center;
   background-size: 70px;
}

a
{
   text-decoration: none;
}

.hidden
{
   left: -9999em;
   position: absolute;
}

.four__head
{
   font: 300 30px/2 'helvetica neue';
   padding: 15px 0;
}

.four__head,
.four__body
{
   display: inline-block;
   vertical-align: middle;
}

.four__image
{
   height: 50px;
   display: inline-block;
   margin-right: 10px;
   vertical-align: middle;
}