*
{
   font-weight: 300;
}

body
{
   font: 300 14px/1.3 Arial;
   letter-spacing: 0.5px;
   margin: 0;
}

canvas
{
   background: #222 url(images/four-loader.gif) no-repeat;
   background-position: center;
   background-size: 70px;
   margin: 0 auto;
}